/* Sticky footer styles
-------------------------------------------------- */

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
#footer {
  height: 60px;
  background-color: #f5f5f5;
}

#wrap > .container {
    padding: 60px 15px 0;
}

#intro {
  background-color: #B8AC94; /* 184 172 148  */
  background-image: url(siamang-wide.jpg);
  background-repeat: no-repeat;
  background-position: top right;
  color: #000;
}
#intro h1 {
  text-shadow: 2px 2px 6px #fff;
}

td {
  white-space: pre-wrap;
}
